<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="C:/Program Files (x86)/nodejs/node" path-to-js-file="server.js" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="DEBUG" value="back:*" />
    </envs>
    <browser url="http://localhost:3100/apiSwagger/" />
    <method />
  </configuration>
</component>